body{
    width: 100%;
    height:100%;
    position: fixed;
    background-color: #F5F5F5;
}
#container{
    bottom: 226px;
    height: 30px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 54px;
    width: 100%;
    z-index: 199;
    perspective-origin: 631.667px 15px;
    transform-origin: 631.667px 15px;
    background: rgb(230, 230, 230) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    padding: 5px 0px 0px;
}
#tabbar{
    display: none;
    height: 30px;
    position: fixed;
    top: 42px;
    width: 100%;
    z-index: 201;
    background: rgba(55, 63, 61, 0.75) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
}

#left {
    display: none;
    left: 6px;
    position: absolute;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
}

#l-scroll-spinner {
    background-position: -388px -326px;
    color: rgb(34, 34, 34);
    cursor: default;
    display: inline-block;
    height: 18px;
    opacity: 0;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    width: 19px;
    column-rule-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    background: rgb(198, 198, 198) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png") repeat scroll -388px -326px / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 5px 0 0 5px;
    font: normal normal 400 normal 16px / 18px Verdana, sans-serif;
    margin: 1px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}

#right {
    display: none;
    position: absolute;
    right: 6px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
}
#r-scroll-spinner {
    background-position: -388px -344px;
    color: rgb(34, 34, 34);
    cursor: default;
    display: inline-block;
    height: 18px;
    opacity: 0;
    text-align: center;
    text-decoration: none solid rgb(34, 34, 34);
    width: 19px;
    column-rule-color: rgb(34, 34, 34);
    caret-color: rgb(34, 34, 34);
    background: rgb(198, 198, 198) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png") repeat scroll -388px -344px / auto padding-box border-box;
    border: 0px none rgb(34, 34, 34);
    border-radius: 0 5px 5px 0;
    font: normal normal 400 normal 16px / 18px Verdana, sans-serif;
    margin: 1px 0px 0px;
    outline: rgb(34, 34, 34) none 0px;
}
#submit-tab-container {
    height: 25px;
    width: 100%;
    perspective-origin: 616.667px 12.5px;
    transform-origin: 616.667px 12.5px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    overflow: hidden;
    padding: 0px 0px 0px 25px;
}

#submit-tab-list {
    height:47px;
    width: 1208.33px;
    perspective-origin: 604.167px 22.9583px;
    transform-origin: 604.167px 22.9583px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
#submit-tab-list li {
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    height: 29px;
    white-space: nowrap;
    width: 187px;
    perspective-origin: 93.5px 14.5px;
    transform-origin: 93.5px 14.5px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 28px 5px 5px;
}
#SPAN_10 {
    bottom: -2px;
    color: rgb(55, 58, 74);
    cursor: default;
    display: inline-block;
    height: 24px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 74);
    text-indent: 4px;
    text-overflow: ellipsis;
    top: 2px;
    vertical-align: 8%;
    white-space: nowrap;
    width: 144px;
    column-rule-color: rgb(55, 58, 74);
    perspective-origin: 72px 12px;
    transform-origin: 72px 12px;
    user-select: none;
    caret-color: rgb(55, 58, 74);
    border: 0px none rgb(55, 58, 74);
    font: normal normal 700 normal 10.6667px / 24px Verdana, sans-serif;
    margin: 0px 0px 0px 22px;
    outline: rgb(55, 58, 74) none 0px;
    overflow: hidden;
}

#SPAN_11 {
    cursor: default;
    display: none;
    text-align: left;
    white-space: nowrap;
    width: 144px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 5px 0px 0px 22px;
}

#SPAN_12 {
    cursor: default;
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    width: 144px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
}

#SPAN_13 {
    cursor: default;
    display: block;
    height: 11px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    background: rgb(116, 208, 76) url("https://st.deviantart.net/minish/stash/miniprogbar.gif") repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(76, 137, 50);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    overflow: hidden;
}

#SPAN_14 {
    background-position: -316px -252px;
    bottom: 3px;
    cursor: default;
    display: inline-block;
    height: 25px;
    left: -171px;
    position: relative;
    right: 171px;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: 25px;
    perspective-origin: 12.5px 12.5px;
    transform-origin: 12.5px 12.5px;
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png?15") no-repeat scroll -316px -252px / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: -3px 2px 0px -2px;
}
#SPAN_15 {
    bottom: 8px;
    color: rgb(150, 155, 154);
    cursor: pointer;
    height: 15px;
    left: -31px;
    position: relative;
    right: 31px;
    text-align: center;
    text-decoration: none solid rgb(150, 155, 154);
    top: -8px;
    white-space: nowrap;
    width: 43px;
    column-rule-color: rgb(150, 155, 154);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(150, 155, 154);
    border: 0px none rgb(150, 155, 154);
    border-radius: 10px 10px 10px 10px;
    font: normal normal 700 normal 12px / normal Verdana, sans-serif;
    outline: rgb(150, 155, 154) none 0px;
    padding: 1px 3px;
}
#SPAN_16 {
    bottom: 27px;
    color: rgb(55, 58, 74);
    cursor: pointer;
    display: block;
    height: 16px;
    left: 194px;
    opacity: 0.5;
    position: relative;
    right: -194px;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 74);
    top: -27px;
    white-space: nowrap;
    width: 51px;
    column-rule-color: rgb(55, 58, 74);
    perspective-origin: 25.5px 9px;
    transform-origin: 25.5px 9px;
    caret-color: rgb(55, 58, 74);
    background: rgb(198, 198, 198) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 74);
    border-radius: 5px 5px 5px 5px;
    font: italic normal 400 normal 11px / 16px Verdana, sans-serif;
    outline: rgb(55, 58, 74) none 0px;
    padding: 1px 0px;
}

#B_17 {
    background-position: -388px -363px;
    color: rgb(55, 58, 74);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    opacity: 0.5;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 74);
    white-space: nowrap;
    width: 12px;
    column-rule-color: rgb(55, 58, 74);
    perspective-origin: 6px 6px;
    transform-origin: 6px 6px;
    caret-color: rgb(55, 58, 74);
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png?15") repeat scroll -388px -363px / auto padding-box border-box;
    border: 0px none rgb(55, 58, 74);
    font: italic normal 700 normal 11px / 16px Verdana, sans-serif;
    margin: 0px 0px 0px 3px;
    outline: rgb(55, 58, 74) none 0px;
}

#I_18 {
    color: rgb(55, 58, 74);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 74);
    white-space: nowrap;
    column-rule-color: rgb(55, 58, 74);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(55, 58, 74);
    border: 0px none rgb(55, 58, 74);
    font: italic normal 400 normal 11px / 16px Verdana, sans-serif;
    margin: 0px 0px 0px 5px;
    outline: rgb(55, 58, 74) none 0px;
}

li {
    box-sizing: border-box;
    display: none;
    height: 28px;
    white-space: nowrap;
    width: 187px;
    background: rgb(221, 221, 221) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 0px 5px 5px;
}

#SPAN_21 {
    display: none;
    text-align: left;
    white-space: nowrap;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 5px 0px 0px 22px;
}

#SPAN_22 {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
}
#SPAN_23 {
    display: block;
    height: 11px;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    background: rgb(116, 208, 76) url("https://st.deviantart.net/minish/stash/miniprogbar.gif") repeat-x scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(76, 137, 50);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    overflow: hidden;
}

#SPAN_24 {
    background-position: -316px -252px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    left: -171px;
    position: relative;
    text-align: left;
    top: -3px;
    white-space: nowrap;
    width: 25px;
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png?15") no-repeat scroll -316px -252px / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: -3px 2px 0px -2px;
}

#SPAN_25 {
    color: rgb(150, 155, 154);
    cursor: pointer;
    display: none;
    height: 15px;
    left: -31px;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(150, 155, 154);
    top: -8px;
    white-space: nowrap;
    width: 43px;
    column-rule-color: rgb(150, 155, 154);
    caret-color: rgb(150, 155, 154);
    border: 0px none rgb(150, 155, 154);
    border-radius: 10px 10px 10px 10px;
    font: normal normal 700 normal 12px / normal Verdana, sans-serif;
    outline: rgb(150, 155, 154) none 0px;
    padding: 1px 3px;
}

#SPAN_26 {
    color: rgb(55, 58, 74);
    cursor: pointer;
    display: block;
    height: 16px;
    left: 194px;
    opacity: 0.5;
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 74);
    top: -27px;
    white-space: nowrap;
    width: 51px;
    column-rule-color: rgb(55, 58, 74);
    caret-color: rgb(55, 58, 74);
    background: rgb(198, 198, 198) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(55, 58, 74);
    border-radius: 5px 5px 5px 5px;
    font: italic normal 400 normal 11px / 16px Verdana, sans-serif;
    outline: rgb(55, 58, 74) none 0px;
    padding: 1px 0px;
}
#B_27 {
    background-position: -388px -363px;
    color: rgb(55, 58, 74);
    cursor: pointer;
    display: inline-block;
    height: 12px;
    opacity: 0.5;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 74);
    white-space: nowrap;
    width: 12px;
    column-rule-color: rgb(55, 58, 74);
    caret-color: rgb(55, 58, 74);
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png?15") repeat scroll -388px -363px / auto padding-box border-box;
    border: 0px none rgb(55, 58, 74);
    font: italic normal 700 normal 11px / 16px Verdana, sans-serif;
    margin: 0px 0px 0px 3px;
    outline: rgb(55, 58, 74) none 0px;
}

#I_28 {
    color: rgb(55, 58, 74);
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(55, 58, 74);
    white-space: nowrap;
    column-rule-color: rgb(55, 58, 74);
    caret-color: rgb(55, 58, 74);
    border: 0px none rgb(55, 58, 74);
    font: italic normal 400 normal 11px / 16px Verdana, sans-serif;
    margin: 0px 0px 0px 5px;
    outline: rgb(55, 58, 74) none 0px;
}
table {
    border-collapse: collapse;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(158, 177, 163);
    height: 48px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(158, 177, 163);
    top: 83px;
    white-space: nowrap;
    width: 1246.67px;
    z-index: 199;
    column-rule-color: rgb(158, 177, 163);
    perspective-origin: 623.333px 24px;
    transform-origin: 623.333px 24px;
    caret-color: rgb(158, 177, 163);
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    font: normal normal 400 normal 12px / 26px Verdana, sans-serif;
    outline: rgb(158, 177, 163) none 0px;
}

tbody {
    border-collapse: collapse;
    color: rgb(158, 177, 163);
    height: 47.3333px;
    text-decoration: none solid rgb(158, 177, 163);
    white-space: nowrap;
    width: 1246.67px;
    column-rule-color: rgb(158, 177, 163);
    perspective-origin: 623.333px 23.6667px;
    transform-origin: 623.333px 23.6667px;
    caret-color: rgb(158, 177, 163);
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgba(0, 0, 0, 0);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 12px / 26px Verdana, sans-serif;
    outline: rgb(158, 177, 163) none 0px;
}

tr {
    border-collapse: collapse;
    color: rgb(158, 177, 163);
    height: 47.3333px;
    text-decoration: none solid rgb(158, 177, 163);
    vertical-align: middle;
    white-space: nowrap;
    width: 1246.67px;
    column-rule-color: rgb(158, 177, 163);
    perspective-origin: 623.333px 23.6667px;
    transform-origin: 623.333px 23.6667px;
    caret-color: rgb(158, 177, 163);
    border-top: 0px none rgb(128, 128, 128);
    border-right: 0px none rgb(128, 128, 128);
    border-bottom: 0px none rgba(0, 0, 0, 0);
    border-left: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 12px / 26px Verdana, sans-serif;
    outline: rgb(158, 177, 163) none 0px;
}

#menu {
    border-collapse: collapse;
    color: rgb(158, 177, 163);
    height: 47.3333px;
    text-decoration: none solid rgb(158, 177, 163);
    vertical-align: middle;
    white-space: nowrap;
    width: 0px;
    column-rule-color: rgb(158, 177, 163);
    perspective-origin: 0px 23.6667px;
    transform-origin: 0px 23.6667px;
    caret-color: rgb(158, 177, 163);
    border: 0px none rgb(158, 177, 163);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 12px / 26px Verdana, sans-serif;
    outline: rgb(158, 177, 163) none 0px;
}

#main-menu {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(158, 177, 163);
    height: 43.3333px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(158, 177, 163);
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 110px;
    column-rule-color: rgb(158, 177, 163);
    perspective-origin: 55px 23.6667px;
    transform-origin: 55px 23.6667px;
    caret-color: rgb(158, 177, 163);
    border-top: 0px none rgb(158, 177, 163);
    border-right: 0px solid rgb(245, 245, 245);
    border-bottom: 0px none rgb(158, 177, 163);
    border-left: 0px none rgb(158, 177, 163);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 12px / 26px Verdana, sans-serif;
    outline: rgb(158, 177, 163) none 0px;
    padding: 4px 0px 0px;
}

#A_6 {
    background-position: 100% 60%;
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(173, 192, 179);
    cursor: default;
    display: inline-block;
    height: 42px;
    left: -25px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(173, 192, 179);
    top: 0px;
    white-space: nowrap;
    width: 96.9479px;
    z-index: 200;
    column-rule-color: rgb(173, 192, 179);
    perspective-origin: 54.9688px 21px;
    transform-origin: 54.974px 21px;
    caret-color: rgb(173, 192, 179);
    background: rgba(0, 0, 0, 0) none no-repeat scroll 100% 60% / auto padding-box border-box;
    border: 0px none rgb(173, 192, 179);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 11px / 44px Verdana, sans-serif;
    outline: rgb(173, 192, 179) none 0px;
    padding: 0px 8px 0px 5px;
}

#SPAN_17 {
    border-collapse: collapse;
    color: rgb(173, 192, 179);
    cursor: default;
    display: none;
    text-decoration: none solid rgb(173, 192, 179);
    white-space: nowrap;
    column-rule-color: rgb(173, 192, 179);
    caret-color: rgb(173, 192, 179);
    border: 0px none rgb(173, 192, 179);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 11px / 44px Verdana, sans-serif;
    margin: 9px 5px 0px -30px;
    outline: rgb(173, 192, 179) none 0px;
}

#IMG_8 {
    border-collapse: collapse;
    color: rgb(173, 192, 179);
    cursor: default;
    height: 30px;
    text-decoration: none solid rgb(173, 192, 179);
    white-space: nowrap;
    width: 30px;
    column-rule-color: rgb(173, 192, 179);
    caret-color: rgb(173, 192, 179);
    border: 0px none rgb(173, 192, 179);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 11px / 44px Verdana, sans-serif;
    outline: rgb(173, 192, 179) none 0px;
}


#SPAN_20 {
    background-position: -327px -18px;
    border-collapse: collapse;
    color: rgb(128, 128, 128);
    cursor: default;
    display: none;
    height: 19px;
    letter-spacing: -1px;
    position: relative;
    text-decoration: none solid rgb(128, 128, 128);
    text-indent: -9001px;
    text-shadow: rgba(0, 0, 0, 0) 0px -1px 0px;
    vertical-align: top;
    white-space: nowrap;
    width: 73px;
    column-rule-color: rgb(128, 128, 128);
    caret-color: rgb(128, 128, 128);
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png?15") repeat scroll -327px -18px / auto padding-box border-box;
    border: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 24px / 44px "Depot New Light", sans-serif;
    margin: 15px 0px 4px;
    outline: rgb(128, 128, 128) none 0px;
}

#SPAN_21 {
    background-position: -316px -203px;
    border-collapse: collapse;
    bottom: -5px;
    color: rgb(173, 192, 179);
    cursor: default;
    display: inline-block;
    height: 30px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(173, 192, 179);
    top: 5px;
    white-space: nowrap;
    width: 30px;
    column-rule-color: rgb(173, 192, 179);
    perspective-origin: 15px 15px;
    transform-origin: 15px 15px;
    caret-color: rgb(173, 192, 179);
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/stash-arrows-icons.png?15") repeat scroll -316px -203px / auto padding-box border-box;
    border: 0px none rgb(173, 192, 179);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 11px / 44px Verdana, sans-serif;
    outline: rgb(173, 192, 179) none 0px;
}

#SPAN_22 {
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(128, 128, 128);
    cursor: default;
    left: 0px;
    letter-spacing: -1px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(128, 128, 128);
    text-shadow: rgba(0, 0, 0, 0) 0px -1px 0px;
    top: 0px;
    vertical-align: top;
    white-space: nowrap;
    column-rule-color: rgb(128, 128, 128);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(128, 128, 128);
    border: 0px none rgb(128, 128, 128);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 24px / 44px "Depot New Light", sans-serif;
    outline: rgb(128, 128, 128) none 0px;
}

#submit-form {
    background-position: 0px -99px;
    border-collapse: collapse;
    bottom: 0px;
    color: rgb(158, 177, 163);
    display: block;
    height: 40px;
    left: -52px;
    min-width: 162px;
    position: relative;
    right: 52px;
    text-decoration: none solid rgb(158, 177, 163);
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    width: 162px;
    column-rule-color: rgb(158, 177, 163);
    perspective-origin: 82px 23px;
    transform-origin: 82px 23px;
    caret-color: rgb(158, 177, 163);
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/stashtab_sprite.png") no-repeat scroll 0px -99px / auto padding-box border-box;
    border: 0px none rgb(158, 177, 163);
    border-spacing: 2px 2px;
    font: normal normal 400 normal 12px / 26px Verdana, sans-serif;
    margin: 1px 0px 0px;
    outline: rgb(158, 177, 163) none 0px;
    padding: 5px 1px 1px;
}
#form-upload {
    background-position: 0px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
    clear: both;
    color: rgb(123, 157, 184);
    height: 180px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 740px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 394.635px 100px;
    transform-origin: 394.641px 100px;
    caret-color: rgb(123, 157, 184);
    background: rgb(233, 241, 247) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(121, 169, 207);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
    padding: 16px 0px 22px;
    position: relative;
    top: 85px;
    left: 20px;
}
#text {
    height: 16px;
    text-align: center;
    width: 787.281px;
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    font: normal normal 400 normal 18px / normal Verdana, sans-serif;
    margin: 0px 0px 15px;
    color: rgb(123, 157, 184);
    display: block;
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 12px / 16px Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
}
#SPAN_3 {
    color: rgb(123, 157, 184);
    display: block;
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 12px / 16px Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
}
#SPAN_4 {
    color: rgb(123, 157, 184);
    display: none;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    column-rule-color: rgb(123, 157, 184);
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 12px / 16px Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
    padding: 0px 0px 11px;
}
#text-2 {
    color: rgb(123, 157, 184);
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 10px / 16px Verdana, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(123, 157, 184) none 0px;
}
#btn-upload {
    color: rgb(123, 157, 184);
    height: 33px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 16.5px;
    transform-origin: 393.641px 16.5px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px;
    outline: rgb(123, 157, 184) none 0px;
}
#INPUT_8, #INPUT_12 {
    box-sizing: content-box;
    cursor: default;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}
#A_9 {
    bottom: 0px;
    box-shadow: rgb(207, 214, 220) 0px 1px 0px 0px;
    color: rgb(18, 21, 22);
    display: inline-block;
    height: 42px;
    left: 0px;
    min-width: 85px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(18, 21, 22);
    top: 0px;
    width: 236px;
    column-rule-color: rgb(18, 21, 22);
    perspective-origin: 119px 22px;
    transform-origin: 119px 22px;
    caret-color: rgb(18, 21, 22);
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(179, 217, 246)), to(rgb(116, 185, 238))) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(121, 169, 207);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 11px / normal Verdana, sans-serif;
    /* outline: rgb(18, 21, 22) none 0px; */
    /* overflow: hidden; */
}
#SPAN_27 {
    color: rgb(22, 89, 143);
    cursor: pointer;
    /* display: block; */
    height: 14.6667px;
    text-align: center;
    text-decoration: none solid rgb(22, 89, 143);
    text-shadow: rgba(192, 223, 248, 0.9) 0px 1px 0px;
    width: 188px;
    position: relative;
    top: 10px;
    column-rule-color: rgb(22, 89, 143);
    perspective-origin: 118px 21.8333px;
    transform-origin: 118px 21.8333px;
    caret-color: rgb(22, 89, 143);
    /* border-top: 1px solid rgb(198, 227, 248); */
    border-right: 0px none rgb(22, 89, 143);
    border-bottom: 0px none rgb(22, 89, 143);
    border-left: 0px none rgb(22, 89, 143);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 700 normal 12px / normal Verdana, sans-serif;
    outline: rgb(22, 89, 143) none 0px;
    padding: 14px 24px;
}
#INPUT_11 {
    bottom: -158px;
    box-sizing: content-box;
    color: rgb(18, 21, 22);
    cursor: pointer;
    display: block;
    height: 200px;
    left: -1655.33px;
    opacity: 0;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(18, 21, 22);
    top: 0px;
    width: 1891.33px;
    column-rule-color: rgb(18, 21, 22);
    align-items: baseline;
    perspective-origin: 945.667px 100px;
    transform-origin: 945.667px 100px;
    user-select: none;
    caret-color: rgb(18, 21, 22);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(18, 21, 22);
    font: normal normal 400 normal 100px / normal Arial, sans-serif;
    outline: rgb(18, 21, 22) none 0px;
    padding: 0px;
}
#INPUT_13 {
    box-sizing: content-box;
    cursor: default;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}
#stash {
    color: rgb(82, 148, 186);
    height: 20px;
    text-align: center;
    text-decoration: none solid rgb(82, 148, 186);
    width: 787.281px;
    column-rule-color: rgb(82, 148, 186);
    perspective-origin: 393.635px 10px;
    transform-origin: 393.641px 10px;
    caret-color: rgb(82, 148, 186);
    border: 0px none rgb(82, 148, 186);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 20px 0px;
    outline: rgb(82, 148, 186) none 0px;
}
#A_15 {
    color: rgb(70, 121, 175);
    text-align: center;
    text-decoration: none solid rgb(70, 121, 175);
    column-rule-color: rgb(70, 121, 175);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(70, 121, 175);
    border: 0px none rgb(70, 121, 175);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    outline: rgb(70, 121, 175) none 0px;
}
#A_16 {
    color: rgb(70, 121, 175);
    text-align: center;
    text-decoration: none solid rgb(70, 121, 175);
    column-rule-color: rgb(70, 121, 175);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(70, 121, 175);
    border: 0px none rgb(70, 121, 175);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 0px 0px 40px;
    outline: rgb(70, 121, 175) none 0px;
}
#SPAN_28 {
    color: rgb(70, 121, 175);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(70, 121, 175);
    width: 12px;
    column-rule-color: rgb(70, 121, 175);
    perspective-origin: 6px 8px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform-origin: 6px 8px;
    caret-color: rgb(70, 121, 175);
    border: 0px none rgb(70, 121, 175);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    outline: rgb(70, 121, 175) none 0px;
}
#form-comment {
    height: 120px;
    text-align: left;
    width: 740px;
    perspective-origin: 394.635px 70.6667px;
    transform-origin: 394.641px 70.6667px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px;
    position: relative;
    top: 100px;
    left: 20px;
}

#INPUT_5 {
    background-position: -3px -2px;
    box-shadow: rgb(246, 246, 246) 0px 0px 3px 3px inset;
    color: rgb(13, 13, 13);
    height: 30.6667px;
    letter-spacing: -0.25px;
    text-decoration: none solid rgb(13, 13, 13);
    width: 740px;
    column-rule-color: rgb(13, 13, 13);
    perspective-origin: 394.635px 15.3333px;
    transform-origin: 394.641px 15.3333px;
    caret-color: rgb(13, 13, 13);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px 3px 0 0;
    font: normal normal 700 normal 14px / normal "Trebuchet MS", Verdana, Geneva, sans-serif;
    outline: rgb(13, 13, 13) none 0px;
    padding: 6px;
}
#input-text {
    box-shadow: rgb(246, 246, 246) 0px 0px 3px 3px inset;
    height: 104.667px;
    text-align: left;
    width: 740x;
    perspective-origin: 394.635px 56.3333px;
    transform-origin: 394.641px 56.3333px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0 0 3px 3px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 0px 20px;
    padding: 6px 6px 0px;
    position: relative;
    top: 100px;
}
#download {
    box-shadow: rgb(231, 231, 231) 0px 0px 3px 0px inset;
    cursor: default;
    height: 54px;
    opacity: 0.6;
    width: 325px;
    perspective-origin: 173.5px 27.6667px;
    transform-origin: 173.5px 27.6667px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 0px 16px;
    padding: 10px;
    position: relative;
    left: 770px;
    margin-top:2900px;
}

#INPUT_2 {
    cursor: default;
    display: block;
    float: left;
    height: 12.6667px;
    min-height: 12.6667px;
    min-width: 12.6667px;
    width: 12.6667px;
    perspective-origin: 6.33333px 6.33333px;
    transform-origin: 6.33333px 6.33333px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    margin: 3px 3px 3px 4px;
    padding: 0px;
}

#text-dwnld {
    cursor: default;
    float: left;
    height: 20px;
    width: 21px;
    perspective-origin: 10.5px 10px;
    transform-origin: 10.5px 10px;
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/downloads-arrow.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 2px 0px 7px;
}

#free-dwnld {
    color: rgb(48, 51, 64);
    cursor: default;
    float: left;
    height: 20px;
    text-decoration: none solid rgb(48, 51, 64);
    width: 119.313px;
    column-rule-color: rgb(48, 51, 64);
    perspective-origin: 59.6563px 10px;
    transform-origin: 59.6563px 10px;
    caret-color: rgb(48, 51, 64);
    border: 0px none rgb(48, 51, 64);
    font: normal normal 700 normal 17px / normal "Trebuchet MS", sans-serif;
    margin: 0px 0px 0px 13px;
    outline: rgb(48, 51, 64) none 0px;
}

#subtext {
    clear: left;
    color: rgb(34, 34, 34);
    cursor: default;
    height: 13.3333px;
    text-decoration: none solid rgb(34, 34, 34);
    width: 264px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 132px 6.66667px;
    transform-origin: 132px 6.66667px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 11px / normal Verdana, sans-serif;
    margin: 0px 0px 0px 61px;
    outline: rgb(34, 34, 34) none 0px;
}