#form-upload {
    background-position: 0px 0px;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px;
    clear: both;
    color: rgb(123, 157, 184);
    height: 180px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 740px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 394.635px 100px;
    transform-origin: 394.641px 100px;
    caret-color: rgb(123, 157, 184);
    background: rgb(233, 241, 247) none repeat scroll 0px 0px / auto padding-box border-box;
    border: 1px solid rgb(121, 169, 207);
    border-radius: 6px 6px 6px 6px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
    padding: 16px 0px 22px;
    position: relative;
    top: 85px;
    left: 20px;
}
#text {
    height: 16px;
    text-align: center;
    width: 787.281px;
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    font: normal normal 400 normal 18px / normal Verdana, sans-serif;
    margin: 0px 0px 15px;
    color: rgb(123, 157, 184);
    display: block;
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 12px / 16px Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
}
#SPAN_3 {
    color: rgb(123, 157, 184);
    display: block;
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 12px / 16px Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
}
#SPAN_4 {
    color: rgb(123, 157, 184);
    display: none;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    column-rule-color: rgb(123, 157, 184);
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 12px / 16px Verdana, sans-serif;
    outline: rgb(123, 157, 184) none 0px;
    padding: 0px 0px 11px;
}
#text-2 {
    color: rgb(123, 157, 184);
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 8px;
    transform-origin: 393.641px 8px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 700 normal 10px / 16px Verdana, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(123, 157, 184) none 0px;
}
#btn-upload {
    color: rgb(123, 157, 184);
    height: 33px;
    text-align: center;
    text-decoration: none solid rgb(123, 157, 184);
    width: 787.281px;
    column-rule-color: rgb(123, 157, 184);
    perspective-origin: 393.635px 16.5px;
    transform-origin: 393.641px 16.5px;
    caret-color: rgb(123, 157, 184);
    border: 0px none rgb(123, 157, 184);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px;
    outline: rgb(123, 157, 184) none 0px;
}
#INPUT_8, #INPUT_12 {
    box-sizing: content-box;
    cursor: default;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}
#A_9 {
    bottom: 0px;
    box-shadow: rgb(207, 214, 220) 0px 1px 0px 0px;
    color: rgb(18, 21, 22);
    display: inline-block;
    height: 42px;
    left: 0px;
    min-width: 85px;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(18, 21, 22);
    top: 0px;
    width: 236px;
    column-rule-color: rgb(18, 21, 22);
    perspective-origin: 119px 22px;
    transform-origin: 119px 22px;
    caret-color: rgb(18, 21, 22);
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(179, 217, 246)), to(rgb(116, 185, 238))) repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(121, 169, 207);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 11px / normal Verdana, sans-serif;
    /* outline: rgb(18, 21, 22) none 0px; */
    /* overflow: hidden; */
}
#SPAN_27 {
    color: rgb(22, 89, 143);
    cursor: pointer;
    /* display: block; */
    height: 14.6667px;
    text-align: center;
    text-decoration: none solid rgb(22, 89, 143);
    text-shadow: rgba(192, 223, 248, 0.9) 0px 1px 0px;
    width: 188px;
    position: relative;
    top: 10px;
    column-rule-color: rgb(22, 89, 143);
    perspective-origin: 118px 21.8333px;
    transform-origin: 118px 21.8333px;
    caret-color: rgb(22, 89, 143);
    /* border-top: 1px solid rgb(198, 227, 248); */
    border-right: 0px none rgb(22, 89, 143);
    border-bottom: 0px none rgb(22, 89, 143);
    border-left: 0px none rgb(22, 89, 143);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 700 normal 12px / normal Verdana, sans-serif;
    outline: rgb(22, 89, 143) none 0px;
    padding: 14px 24px;
}
#INPUT_11 {
    bottom: -158px;
    box-sizing: content-box;
    color: rgb(18, 21, 22);
    cursor: pointer;
    display: block;
    height: 200px;
    left: -1655.33px;
    opacity: 0;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(18, 21, 22);
    top: 0px;
    width: 1891.33px;
    column-rule-color: rgb(18, 21, 22);
    align-items: baseline;
    perspective-origin: 945.667px 100px;
    transform-origin: 945.667px 100px;
    user-select: none;
    caret-color: rgb(18, 21, 22);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(18, 21, 22);
    font: normal normal 400 normal 100px / normal Arial, sans-serif;
    outline: rgb(18, 21, 22) none 0px;
    padding: 0px;
}
#INPUT_13 {
    box-sizing: content-box;
    cursor: default;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    padding: 0px;
}
#stash {
    color: rgb(82, 148, 186);
    height: 20px;
    text-align: center;
    text-decoration: none solid rgb(82, 148, 186);
    width: 787.281px;
    column-rule-color: rgb(82, 148, 186);
    perspective-origin: 393.635px 10px;
    transform-origin: 393.641px 10px;
    caret-color: rgb(82, 148, 186);
    border: 0px none rgb(82, 148, 186);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 20px 0px;
    outline: rgb(82, 148, 186) none 0px;
}
#A_15 {
    color: rgb(70, 121, 175);
    text-align: center;
    text-decoration: none solid rgb(70, 121, 175);
    column-rule-color: rgb(70, 121, 175);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(70, 121, 175);
    border: 0px none rgb(70, 121, 175);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    outline: rgb(70, 121, 175) none 0px;
}
#A_16 {
    color: rgb(70, 121, 175);
    text-align: center;
    text-decoration: none solid rgb(70, 121, 175);
    column-rule-color: rgb(70, 121, 175);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(70, 121, 175);
    border: 0px none rgb(70, 121, 175);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 0px 0px 40px;
    outline: rgb(70, 121, 175) none 0px;
}
#SPAN_28 {
    color: rgb(70, 121, 175);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    text-align: center;
    text-decoration: none solid rgb(70, 121, 175);
    width: 12px;
    column-rule-color: rgb(70, 121, 175);
    perspective-origin: 6px 8px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform-origin: 6px 8px;
    caret-color: rgb(70, 121, 175);
    border: 0px none rgb(70, 121, 175);
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    outline: rgb(70, 121, 175) none 0px;
}
#form-comment {
    height: 120px;
    text-align: left;
    width: 740px;
    perspective-origin: 394.635px 70.6667px;
    transform-origin: 394.641px 70.6667px;
    background: rgb(245, 245, 245) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px;
    position: relative;
    top: 100px;
    left: 20px;
}

#INPUT_5 {
    background-position: -3px -2px;
    box-shadow: rgb(246, 246, 246) 0px 0px 3px 3px inset;
    color: rgb(13, 13, 13);
    height: 30.6667px;
    letter-spacing: -0.25px;
    text-decoration: none solid rgb(13, 13, 13);
    width: 740px;
    column-rule-color: rgb(13, 13, 13);
    perspective-origin: 394.635px 15.3333px;
    transform-origin: 394.641px 15.3333px;
    caret-color: rgb(13, 13, 13);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3px 3px 0 0;
    font: normal normal 700 normal 14px / normal "Trebuchet MS", Verdana, Geneva, sans-serif;
    outline: rgb(13, 13, 13) none 0px;
    padding: 6px;
}
#input-text {
    box-shadow: rgb(246, 246, 246) 0px 0px 3px 3px inset;
    height: 104.667px;
    text-align: left;
    width: 740x;
    perspective-origin: 394.635px 56.3333px;
    transform-origin: 394.641px 56.3333px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 0 0 3px 3px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 0px 20px;
    padding: 6px 6px 0px;
    position: relative;
    top: -1px;
}
#download {
    box-shadow: rgb(231, 231, 231) 0px 0px 3px 0px inset;
    cursor: default;
    height: 54px;
    opacity: 0.6;
    width: 325px;
    perspective-origin: 173.5px 27.6667px;
    transform-origin: 173.5px 27.6667px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 0px 16px;
    margin-top:900px;
    padding: 10px;
}

#INPUT_2 {
    cursor: default;
    display: block;
    float: left;
    height: 12.6667px;
    min-height: 12.6667px;
    min-width: 12.6667px;
    width: 12.6667px;
    perspective-origin: 6.33333px 6.33333px;
    transform-origin: 6.33333px 6.33333px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    margin: 3px 3px 3px 4px;
    padding: 0px;
}

#text-dwnld {
    cursor: default;
    float: left;
    height: 20px;
    width: 21px;
    perspective-origin: 10.5px 10px;
    transform-origin: 10.5px 10px;
    background: rgba(0, 0, 0, 0) url("https://st.deviantart.net/minish/stash/downloads-arrow.png") repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 12px / normal Verdana, sans-serif;
    margin: 0px 2px 0px 7px;
}

#free-dwnld {
    color: rgb(48, 51, 64);
    cursor: default;
    float: left;
    height: 20px;
    text-decoration: none solid rgb(48, 51, 64);
    width: 119.313px;
    column-rule-color: rgb(48, 51, 64);
    perspective-origin: 59.6563px 10px;
    transform-origin: 59.6563px 10px;
    caret-color: rgb(48, 51, 64);
    border: 0px none rgb(48, 51, 64);
    font: normal normal 700 normal 17px / normal "Trebuchet MS", sans-serif;
    margin: 0px 0px 0px 13px;
    outline: rgb(48, 51, 64) none 0px;
}

#subtext {
    clear: left;
    color: rgb(34, 34, 34);
    cursor: default;
    height: 13.3333px;
    text-decoration: none solid rgb(34, 34, 34);
    width: 264px;
    column-rule-color: rgb(34, 34, 34);
    perspective-origin: 132px 6.66667px;
    transform-origin: 132px 6.66667px;
    caret-color: rgb(34, 34, 34);
    border: 0px none rgb(34, 34, 34);
    font: normal normal 400 normal 11px / normal Verdana, sans-serif;
    margin: 0px 0px 0px 61px;
    outline: rgb(34, 34, 34) none 0px;
}